.layout-wrapper {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

// @media screen and (min-width: 620px) {
//   h1 {
//     width: 82%;
//     background: red;
//   }
// }

// @media screen and (min-width: 800px) {
//   h1 {
//     width: 80%;
//   }
// }
