//typography
$heading-font-stack: "Nunito", sans-serif;
$text-font-stack: "Lora", serif;

//dark-theme-colors
$dark-text-color: #dde2f4;
$dark-bg-color-1: #0e141b;
$dark-bg-color-2: #1e262f;
$color-white: #fff;
$accent-color: #310944;

//border radius
$border-radius: 3px;
