.section {
  padding: 1rem 0;
  margin-bottom: 2rem;
}

.section-hero {
  .hero-wrapper {
    display: flex;
    flex-direction: column;
  }
  .hero-left {
    margin-bottom: 2rem;

    .cta {
      color: inherit;
      display: inline-block;
      padding: 0.6rem 1rem;
      margin-top: 1rem;
      border-radius: $border-radius;
      background: $accent-color;
    }
  }

  .hero-right {
    margin-top: 1rem;
    .links {
      display: flex;
      align-items: center;
      margin-top: 1rem;
      li:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}

.section-projects {
  h2 {
    margin-bottom: 1rem;
  }

  .project {
    padding: 1.4rem;
    margin-bottom: 2rem;
    border-radius: $border-radius;
    background: $dark-bg-color-2;
    transition: transform 0.3s;

    &:hover {
      transform: translateY(-2px);
    }

    &__heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
    }

    &__links {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .project__link:first-child {
        margin-right: 0.8rem;
      }
    }

    &__copy {
      // color: $light-heading-color;
      margin-bottom: 0.8rem;
    }

    &__badges {
      display: flex;
      margin-top: 1rem;

      .badge {
        padding: 0.3rem 0.7rem;
        margin-right: 0.8rem;
        font-size: 1rem;
        border-radius: 3px;
        background: $accent-color;
      }
    }
  }
}

@media screen and (min-width: 500px) {
  .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 32px;
  }

  .project {
    margin-bottom: 0 !important;
  }
}

@media screen and (min-width: 500px) {
  .hero-wrapper {
    flex-direction: row !important;
    justify-content: space-between;
  }
}
